# Japan Population Example

In [1]:
# %load_ext autoreload
# %autoreload 2
from IPython.display import Markdown, display

import numpy as np
import pandas as pd

df = pd.DataFrame([
    (1, '福島', 191, ['茨城', '栃木', '群馬', '新潟']),
    (2, '茨城', 292, ['福島', '栃木', '埼玉', '千葉']),
    (3, '栃木', 197, ['福島', '茨城', '群馬', '埼玉']),
    (4, '群馬', 197, ['福島', '栃木', '埼玉', '新潟', '長野']),
    (5, '埼玉', 727, ['茨城', '栃木', '群馬', '千葉', '東京', '山梨', '長野']),
    (6, '千葉', 622, ['茨城', '埼玉', '東京']),
    (7, '東京', 1352, ['埼玉', '千葉', '神奈川', '山梨']),
    (8, '神奈川', 913, ['東京', '山梨', '静岡']),
    (9, '新潟', 230, ['福島', '群馬', '富山', '長野']),
    (10, '富山', 107, ['新潟', '長野', '岐阜']),
    (11, '山梨', 84, ['埼玉', '東京', '神奈川', '長野', '静岡']),
    (12, '長野', 210, ['群馬', '埼玉', '新潟', '富山', '山梨', '岐阜', '静岡', '愛知']),
    (13, '岐阜', 203, ['富山', '長野', '愛知']),
    (14, '静岡', 370, ['神奈川', '山梨', '長野', '愛知']),
    (15, '愛知', 748, ['長野', '岐阜', '静岡']),
], columns=['id', 'name', 'population (10k)', 'adjacent'])
df

    id name  population (10k)                          adjacent
0    1   福島               191                  [茨城, 栃木, 群馬, 新潟]
1    2   茨城               292                  [福島, 栃木, 埼玉, 千葉]
2    3   栃木               197                  [福島, 茨城, 群馬, 埼玉]
3    4   群馬               197              [福島, 栃木, 埼玉, 新潟, 長野]
4    5   埼玉               727      [茨城, 栃木, 群馬, 千葉, 東京, 山梨, 長野]
5    6   千葉               622                      [茨城, 埼玉, 東京]
6    7   東京              1352                 [埼玉, 千葉, 神奈川, 山梨]
7    8  神奈川               913                      [東京, 山梨, 静岡]
8    9   新潟               230                  [福島, 群馬, 富山, 長野]
9   10   富山               107                      [新潟, 長野, 岐阜]
10  11   山梨                84             [埼玉, 東京, 神奈川, 長野, 静岡]
11  12   長野               210  [群馬, 埼玉, 新潟, 富山, 山梨, 岐阜, 静岡, 愛知]
12  13   岐阜               203                      [富山, 長野, 愛知]
13  14   静岡               370                 [神奈川, 山梨, 長野, 愛知]
14  15   愛知               748                      [長野, 岐阜, 静岡]

In [2]:
from echelon.api import DataFrameEchelonAnalysis
analyzer = DataFrameEchelonAnalysis()
result = analyzer(df, 'population (10k)', 'name', 'adjacent')
result

/Users/teshima/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/numpy/lib/function_base.py:4454: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr = asarray(arr)
/Users/teshima/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/numpy/lib/function_base.py:4454: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr = asarray(arr)
/Users/teshima/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/scipy/sparse/compressed.py:746: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  SparseEfficiencyWarning)

Result_EchelonAnalysis(peak_echelons=[['東京', '神奈川', '埼玉', '千葉'], ['愛知'], ['新潟']], foundation_echelons=[['静岡', '茨城'], ['長野', '岐阜', '栃木', '群馬', '福島', '富山', '山梨']], hierarchy_tree=Node('/4'), oracle=<echelon.oracle.DataFrameEchelonOracle object at 0x7f81c08c7278>)

In [3]:
display(Markdown('### Peak Echelons'))
display(pd.DataFrame(result.peak_echelons).fillna(''))

display(Markdown('### Foundation Echelons'))
display(pd.DataFrame(result.foundation_echelons).fillna(''))

### Peak Echelons

    0    1   2   3
0  東京  神奈川  埼玉  千葉
1  愛知
2  新潟

### Foundation Echelons

    0   1   2   3   4   5   6
0  静岡  茨城
1  長野  岐阜  栃木  群馬  福島  富山  山梨

In [4]:
print(analyzer.dendrogram(result))

E5(長野): [山梨, 富山, 福島, 群馬, 栃木, 岐阜, 長野]
 (max: 210)

├── E4(静岡): [茨城, 静岡]
│    (max: 370)
│
│   ├── E2(愛知): [愛知]
│   │    (max: 748)
│   │
│   └── E1(東京): [千葉, 埼玉, 神奈川, 東京]
│        (max: 1352)
│
└── E3(新潟): [新潟]
     (max: 230)